<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
</head>

    <style>.content img {
        position: absolute;
        top: 20px;
        left: 7px;
    }
  
    .a{
    background-color: bisque;
    padding-bottom: 25px;
    padding-top: 28px;
    }

body{
    background-color: #344a72;
    color: aliceblue;
}

    </style>
    <body >

        <div class="content">
            <img src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPxs-8q1ugbqzOBX4ip7z_6SXZ0YL10JjMThuYZshQfg&s" height="90px" width="140px">
        </div>
          <h1 align="center" style="color: #344a72" class="a">Malla Reddy University</h1>
        <h2 align="center">
            “A dream doesn’t become reality through magic; it takes sweat, determination and hard work.”-ColinPowell
        </h2>
        <p align="left">BVRIT HYDERABAD College of Engineering for Women, the youngest offspring of Sri Vishnu Educational Society (SVES) founded by Chairman Sri KV Vishnu Raju in 2012.
            <br><br><br>
            BVRIT HYDERABAD College of Engineering for Women is just not another Engineering college in Hyderabad. It was established in the year of 2012 with the clear vision & mission to empower the women to aspire for a better career in their life. It was started with an intake of 240 students of four different branches EEE, ECE, CSE and IT. But through consistent academic excellence, the college could extend the intake up to 540 students with New Programs in UG – CSE (AI&ML) and PG – M.Tech (Data Science). The Institute is duly approved by All India Council for Technical Education and the Government of Telangana State and is affiliated to Jawaharlal Nehru Technological University Hyderabad.
            <br><br><br></p>
            <center><img src="https://cdn.stumagz.com/images/58ac5f4772b42coverpic" width="700" height="350"></center><br><br>
            In spite of being a new college, by following different unique practices the college became one of the first choice among all affiliated colleges under JNTUH for the aspiring students who want to elevate their talent more than the academics.
        <ul>
            <li> HYDERABAD College of Engineering for Women ranked recognized by AICTE for its Best Practices</li>
            <li> 4 branches (CSE, ECE, IT & EEE) are NBA accredited in 2018 and Accredited by NAAC with grade ‘A’ (CGPA 3.23)in 2020</li>
            <li> BVRIT HYDERABAD College of Engineering for Women ranked by NIRF from three consecutive Years 2019, 2020 and 2021</li>
            <li> HYDERABAD College of Engineering for Women ranked by ARIIA-2020 in Band B (26th to 50th)</li>
            <li>The college had achieved National level recognition like ”IMC Ramakrishna Bajaj National Quality Awardunder Education Category”, “Learning Innovation Award” by TalentSprint, “Top 20 Performing Colleges” by IBM for TGMC, “Deewang Mehtha Education Leadership Award” by IPE, “Best Emerging College in Telangana 2018” by Stumag” and many more…..</li>
            <br><center><img src="https://bvrithyderabad.edu.in/wp-content/uploads/2019/05/1-IMG_8461.jpg" width="700" height="350"></center><br><br>
            <li>BVRITH has entered into Asia Book of Records for an attempt of “largest Mental Health Peer Counseling for Women” on 7th March 2018.</li>
            <li>BVRITH is the first college to initiate Mentorship programs in Top most MNCs like Microsoft, Amazon, QualComm etc</li>
            <li>BVRITH received Two JNTUH University Gold Medals for consecutive two years, out of three batches Graduated so far.</li>
            <li>Excellent Placement Records. Highest Package being offered in Amazon with 29.9 Lakh</li>
        </ul>
            
        <p>  The college encourages and supports the students to participate in national and international level events like “World Skill Competition”, ”Foss Asia”, Google Summer of Code,GHCI and many more which provides them a different career exposure.
            </p>
        <p>When the whole society is focusing on diversity in every field then BVRITH is like a stone on the pillar to motivate and groom those aspiring women who want to make a mark in the society.
            </p>
        <p>As a whole, BVRIT Hyderabad is a family of aspiring students, supportive parents, committed faculty and visionary management who all are working together to make a difference in education field.
           </p>
            Come Join Experience…….
    </body>
</html>
