<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <title>COMPLAINTS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <style>
        html {
            scroll-behavior: smooth;
        }
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: white;
        }

        /*------------online courses----------*/

        .complaint-top {
            padding: 0 0 100px 0;
        }

        .online-title {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            margin: 50px;
            color: rgb(26, 5, 5);
            background-color: rgb(109, 155, 180);
            color: aliceblue ;
        }

        .online-complaint {
            background-color: white;
            height: auto;
            padding: 0 100px;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        .online-complaint img {

            border-radius: 8px;
            margin-bottom: 15px;
            width: 200px;
            height: 150px;
        }

        .online-box {
            background-color: rgb(171, 207, 211);
            padding: 20px 40px;
            display:grid;
            flex-direction: row;
            align-items:flex-start;
            justify-content: space-between;
            border-radius: 8px;
            box-shadow: 2px 2px 5px rgb(177, 177, 177), 2px 2px 5px rgb(177, 177, 177);
            transition: 0.3s ease-in-out;
        }

        .online-box:hover {
            box-shadow: 0px 5px 15px #bdbdbd;
            cursor: pointer;
        }

        .online-box h2 {
            font-size: 18px;
            color: rgb(49 48, 48);
            margin: 5px 0;
        }


        input[type="submit"] {
            width: 100px;
            height: 35px;
            border: none;
            border-radius: 10px;
            background-color: #6898c2;
            color: black;
            font-size: 18px;
            font-weight: bold;
        }
        .submit:active {
            background-color: #032749;
            color: white;
        }

        h1 {
            text-align: center;
            padding-top: 25px;
        }

        .content img{
            position: absolute;
            top: 7px;
            left: 7px;
            margin-top: 5px;
        }

        .a{
            background-color: #344a72;
            padding-bottom: 25px;
            padding-top: 25px;
            margin-top: 10px;
        }
        textarea{
            width: 440px;
        }


    </style>

</head>

<body>

    <div class="content">
        <img src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPxs-8q1ugbqzOBX4ip7z_6SXZ0YL10JjMThuYZshQfg&s" height="90px" width="140px">
    </div>
      <h1 align="center" style="color: aliceblue" class="a">BVRIT HYDERABAD College of Engineering For Women</h1>

        <!--online courses-->
        <div class="complaint-top" id="complaint">
            <div class="online-title">
                <h2>Complaints</h2>
            </div>
            <br>
            <section class="online-complaint">
                <form action="/complaintsubmit1">
                <div class="online-box">
                    <h2>Hostel</h2>
                    <br>
                    <textarea id="hostel" name="x" placeholder="Write Your complaint here" rows="4" cols="50" ></textarea><br>
                    <input type="text" name = "type" value="hostel" hidden readonly>
                    <input type="submit" class = "submit" value="Submit"  align="center" />
                </div>
                </form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <form action="/complaintsubmit1">
                <div class="online-box">
                    <h2>Transport</h2>
                    <br>
                    <textarea id="transport" name="x" placeholder="Write Your complaint here" rows="4" cols="50"></textarea><br>
                    <input type="text" name = "type" value="transport" hidden readonly>
                    <input type="submit" class = "submit" value="Submit" align="center"/>
                </div></form>
            </section><br><br>

                <section class="online-complaint">
                <form action="/complaintsubmit1">
                <div class="online-box">
                    <h2>Classwork</h2>
                    <br>
                    <textarea id="Classwork" name="x" placeholder="Write Your complaint here"rows="4" cols="50"></textarea><br>
                    <input type="text" name = "type" value="classwork" hidden readonly>
                    <input type="submit" class = "submit" value="Submit" align="center" />
                </div></form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <form action="/complaintsubmit1">
                <div class="online-box">
                    <h2>Management</h2>
                    <br>
                    <textarea id="management" name="x" placeholder="Write Your complaint here"rows="4" cols="50"></textarea><br>
                    <input type="text" name = "type" value="management" hidden readonly>
                    <input type="submit" class = "submit" value="Submit"  align="center" />
                </div></form>
            </section>
            <br><br>
            
        

        </div>
    </a>
</body>

</html>