<style>
  body {
  background-color: #344a72;
  font-family: "Roboto", sans-serif;
}

.signup-box {
  width: 360px;
  height: 450px;
  margin: auto;
  background-color: white;
  border-radius: 3px;
}
.content img{
      position: absolute;
      top: 7px;
      left: 7px;
  }

.a{
  background-color: bisque;
  padding-bottom: 25px;
  padding-top: 25px;
}

h1 {
  text-align: center;
  padding-top: 15px;
  margin-bottom: 0px;
}

h4 {
  text-align: center;
}

form {
  width: 300px;
  margin-left: 20px;
}

form label {
  display: flex;
  margin-top: 20x;
  font-size: 16px;
}

form input {
  width: 100%;
  padding: 8px;
  border: black;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}
input[type="submit"] {
  width: 300px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #49c1a2;
  color: white;
  font-size: 18px;
}
.submit:active {
  background-color: #00008b;
}
p {
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}
.para-2 {
  text-align: center;
  color: white;
  font-size: 15px;
  margin-top: -10px;
}
.para-2 a {
  color: #49c1a2;
}
.error {color: #FF0000;}

</style>
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Register | ECAP</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="content">
      <img src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPxs-8q1ugbqzOBX4ip7z_6SXZ0YL10JjMThuYZshQfg&s" height="90px" width="140px">
  </div>
    <h1 align="center" style="color: #344a72" class="a">BVRIT HYDERABAD College of Engineering For Women</h1>
    <div class="signup-box">
      <h1>Register</h1><br>
      <form action="/signupsubmit" method="get" name="myform">
        <label><span class = "error">* required field.</span></label><br>
        <label>Full Name <span class = "error">*</span></label>
        <input type="text" name ="FullName"placeholder="" />
        <label>Roll Number <span class = "error">*</span> </label>
        <input type="text" name="RollNumber" placeholder="" />
        <label>Email <span class = "error">*</span></label>
        <input type="email" name="Email" placeholder=""/>
        <label>Password <span class = "error">*</span></label>
        <input type="password" name="Password" placeholder="" />
        <label>Confirm Password</label>
        <input type="password" name="ConfirmPassword" placeholder="" />
        <input type="submit" class="submit" value="Submit" onClick="validate()"/>
      <closeform></closeform></form>
    </div>
    <p class="para-2">
      Already have an account? <a href="signin">Login here</a>
    </p>
  </body>
</html>