<style>
    body {
    background-color: #344a72;
    font-family: "Roboto", sans-serif;
  }
  
  .para-2 {
    padding-top: 50px;
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
  }
  .para-2 a {
    color: #49c1a2;
  }
  </style>
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SUCCESS | BVRITH</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <p class="para-2">
        Registered successfully <a href="signin">Login Here</a>
    </p>
    
  </body>
</html>
