<!DOCTYPE html>
<html>
<style>
h1 {
	text-align: center;
}

.content img{
    position: absolute;
    left: 7px;
    margin-top: 5px;
 }

.a{
    background-color: #344a72;
    padding-bottom: 25px;
    padding-top: 25px;
	margin-top: 10px;
}
</style>
<head>
	
	<title>
		TIME TABLE
	</title>
</head>
<body>
	<div class="content">
        <img src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPxs-8q1ugbqzOBX4ip7z_6SXZ0YL10JjMThuYZshQfg&s" height="90px" width="140px">
    </div>
      <h1 align="center" style="color: aliceblue" class="a">BVRIT HYDERABAD College of Engineering For Women</h1>

	<h1>TIME TABLE FOR CURRENT SEMESTER </h1>
	<center><img src="https://cdn.glitch.global/dfec1aee-44ef-46ff-9ab0-620abc83e0e9/Screenshot%202022-11-27%20124840.jpg?v=1670074750275"></center>
</body>
</html>
